.App {
  text-align: center;
}

.main {
  background: #040404;
  height: 100%;
  width: 100%;
}

.table {
  border-collapse: collapse;
  border: 1px solid #9E9E9E;
}

.th {
  border: 1px solid #9E9E9E;
  color: #FFC107;
}
.td {
  border: 1px solid #9E9E9E;
}

.table.a {
  table-layout: auto;
  width: 180px;
}

.table.b {
  table-layout: fixed;
  width: 180px;
}

.table.c {
  table-layout: auto;
  width: 100%;
}

.table.d {
  table-layout: fixed;
  width: 100%;
}

body {
  font-family: Arial;
  color: white;
}
.nav-bar {
  height: 50px;
  background: #607D8B;
}
.nav-header {
  position: absolute;
  left: 45%;
  text-align: center;
  color: #FFC107;
  margin: 8px;
}
.nav-section {
  margin-left: 95%;
}
.nav-admin-section {
  margin-left: 90%;
}
.nav-button {
  margin-top: 12px;
  border-radius: 10px;
  background: #FF9800;
  cursor: pointer;
}
.inventory {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #5f5d5d;
}
.split {
  margin-top: 50px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  width: 20%;
  left: 0;
  background-color: #5f5d5d;
}

.right {
  width: 80%;
  right: 0;
  background-color: rgba(25, 17, 8, 0.83);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.side-panel {
  position: absolute;
  top: 100px;
  margin-left: 50%;
  margin-right: 5px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.error {
  color: red;
  font-size: small;
}
.warning {
  color: orange;
  font-size: small;
}
.button {
  border-color: #f7fafb;
  background: #8BC34A;
  margin: 2px;
  cursor: pointer;
  border-radius: 8px;
}
.side-button {
  width: 100%;
  border-color: #f7fafb;
  background: #c5c58a;
  cursor: pointer;
  margin: 2px;
  border-radius: 12px;
  font-style: italic;
}
.delete-button {
  border-color: #f7fafb;
  background: #c37042;
  margin: 2px;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {
  background: #c5c58a
}

.delete-button:hover {
  background: #c5c58a
}
.side-button:hover {
  background: #607D8B
}
.header {
  color: #00BCD4;
  margin-bottom: 0;
}
.search {
  width: 90%;
  margin: 6px;
  border-radius: 4px;
  border-color: #f9f7f7;
}

.input {
  margin: 2px;
  border-block-start-color: grey;
}

.info {
  color: #00BCD4;
  font-size: small;
}

.price {
  width: 30%;
}
