.App {
  text-align: center;
}

.main {
  background: #040404;
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.table {
  border-collapse: collapse;
  border: 1px solid #9E9E9E;
}

.th {
  border: 1px solid #9E9E9E;
  color: #FFC107;
}
.td {
  border: 1px solid #9E9E9E;
}

.table.a {
  table-layout: auto;
  width: 180px;
}

.table.b {
  table-layout: fixed;
  width: 180px;
}

.table.c {
  table-layout: auto;
  width: 100%;
}

.table.d {
  table-layout: fixed;
  width: 100%;
}

body {
  font-family: Arial;
  color: white;
}
.nav-bar {
  height: 50px;
  background: #f3f7ca;
}
.logout {
  margin-left: 95%;
  margin-top: 12px;
  border-radius: 7px;
  background: #FF9800;
}
.inventory {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #5f5d5d;
}
.split {
  margin-top: 50px;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #5f5d5d;
}

.right {
  right: 0;
  background-color: rgba(25, 17, 8, 0.83);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.error {
  color: red;
  font-size: small;
}
.warning {
  color: orange;
  font-size: small;
}
.button {
  border-color: #f7fafb;
  background: #8BC34A;
  margin: 2px;
  cursor: pointer;
}

button:hover {
  background: #c5c58a
}
.header {
  color: #00BCD4;
  margin-bottom: 0;
}
.search {
  width: 90%;
  margin: 6px;
  border-radius: 4px;
  border-color: #f9f7f7;
}

.input {
  margin: 2px;
  border-block-start-color: grey;
}

.info {
  color: #00BCD4;
  font-size: small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
